html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  background-image: url(/assets/images/bg-main-mobile.png);
  background-size: 375px 240px;
  background-repeat: no-repeat;
  font-family: "Space Grotesk", sans-serif;
}
